body {
    background-image: linear-gradient(rgba(17%,20%,20%,1), rgba(49%,92.9%,100%,0.75));
    /* background-color: ;  */
    text-align: center;
}

#namePlate {
    /* color: #99FEFF; */
    margin: 5% auto;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 1%;
}

hr {
    width: 50%;
}

.homeBut {
    border-radius: 30px;
    background: #04009A;
    color: #99FEFF;
    margin: 0 1%;  
    font-size: 20px;
    padding: 15px;
    transition: 1s ease-in-out;
  }
  .homeBut:hover {
      background-color: black;
      border-color: white;
  }

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 10% 0;
}

