/* handles background color for each page */
body { 
  background-image: linear-gradient(rgba(0,0,0,1), rgba(32,32,32,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bigContainer {
  display: flex;
  margin: 10% 0 0 0;
  /* justify-content: space-between; */
}

/* handles the background icon on the home page */
.icon {
  background-image: url('./assets/icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  height: 100vh;
  width: 100vh;
  z-index: -1;
  margin-left: 20%;
  /* position: fixed; */
  /* left: 31%; */
}

/* handles the container of the nameplate and buttons on the home page */
#container {
  display: flex;
  flex-direction: column;
  /* border: solid white 1px; */
  height: 550px;
  margin-left: 10%;
  text-align: center;
  color:white;
  
}

/* handles the top title name area on the home page */
#namePlate {
  
}

/* horizontal rule on home page */
hr {
  width: 70%;
}

/* handles all the buttons on the homes page */
.homeBut {
  border-style: none;
  border-radius: 30px;
  background: rgb(48, 48, 48);
  color: #99FEFF;
  margin: 0 1%;  
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

/* more css to handle change on hover of home page buttons */
.homeBut:hover {
    box-shadow: 0px 0px 30px grey;
}

/* handles the list of buttons  */
ul {
  padding: 0;
}

/* more css for home page buttons */
li {
  list-style: none;
  margin: 20% 0;
}
/* ---------------------------------- */
/* end of home page css*/



/* Header Css */
#header {
  display: inline-flex;
  align-items: center;
  background-color: #2C3333;
  color: #99FEFF;
  padding: 2%;
  position: fixed; 
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;  
}

/* corner icon sizing in header */
#plate {
position: static;
max-height: 100px;
max-width: 100px;
}

/* container for buttons */
nav {
  margin-left: 65%;
  width: 50%;
  padding: 1%;
}

/* button css in header */
.navButton {
  border-style: none;
  border-radius: 30px;
  background: #04009A;
  color: #99FEFF;
  margin: 0 1%;  
  font-size: 15px;
  padding: 15px;
}
.navButton:hover {
  box-shadow: 0px 0px 30px grey;
}
/* ---------------------------------- */
/* End of header Css */

/* css for container of about me bio, and img */
.bioContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15%;
}

/*  */
#bio {
  text-align: center;
  padding: 5%;
  color: white;  
}


#test {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 100% 0;
}


/* Projects page styling */

.projectsContainer {
  display: flex;
  flex-wrap: wrap;  
}

.cards {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: 50% 0;
  border: solid green 1px;
  margin: auto;
}

#frame {
  height: 200px;
  width: 500px;
  margin: 20% 0 2% 33%;
  background-color: white;
}